<div class="container-fluid main">
    <div class="row">
        <div class="col-md-1">
            <ul class="nav flex-column">
                <li class="nav-item">
                  <a class="nav-link disabled" href="#!/past">Past</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link disabled" href="#!/today">Today</a>
                </li>
                <li>
                  <a class="btn btn-outline-secondary btn-sm" href="#!/" role="button">Back to Main Screen</a>
                </li>
            </ul>
        </div>
        <div class="col-md-10">
            <center><h1>Page Coming Soon</h1></center>
        </div>
        <div class="col-md-1 sticky">
            <a class="btn btn-outline-secondary btn-sm" href="#!/add" role="button">Add New</a>
        </div>
    </div>
</div>